<div class="twitter">
    <div id="headerBlock">
        <img id="bannerImg" src="../../assets/images/BannerImg1.png" />
        <h2 id="bannerTitle">Twitter Analysis</h2> <br />
        <div id="screenName">{{this.screen_name}}</div>
        <div id="logout">
            <button type="submit" class="button" (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="post-tweet">
        <textarea rows="10" cols="50" id="tweet-textarea" placeholder="What's happening?" (keyup)='tweetFunc($event)'
            maxlength=280>Maximum 280 characters are only allowed.</textarea>
        <button type="submit" class="tweet-button" (click)="tweet()">Tweet</button>
    </div>
    <div class="display-tweet">
        <table *ngIf="this.tweetDataTemp" style="width: 80%; border: 2px solid red;">
            <thead>
                <tr>
                    <th><span class="bx--table-header-label">Timestamp</span></th>
                    <th><span class="bx--table-header-label">Tweet Text</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tweet of this.tweetedData">
                    <td>{{tweet.created_at}}</td>
                    <td>{{tweet.text}}</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="!this.tweetDataTemp">
            <p> No Tweets Available</p>
        </table>
    </div>
</div>